/* Regole Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

menu {
    list-style-type: none;
}

/* Regole Layout */
body {
    font-family: sans-serif;
}

.container {
    max-width: 1380px;
    margin-inline: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc(100% / 3);
    margin-bottom: 40px;
}

/* Utility */
.preferito {
    position: absolute;
    top: 9px;
    right: 8px;
    z-index: 999;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
}

.preferito a {
    font-size: 30px;
    color: #000;
}

.preferito a:hover {
    text-decoration: none;
    color: red;
}

.barrato {
    color: #000;
    font-weight: normal;
    text-decoration: line-through;
}

/* Header */
.main-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #FF6900;
}

.main-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    color: #fff;
}

.main-menu,
.secondary-menu {
    display: flex;
}

.main-menu__item {
    margin-right: 10px;
}

.main-menu__item a {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}

.main-header__logo {
    width: auto;
    height: 30px;
}

.secondary-menu__item {
    margin-left: 8px;
}

.secondary-menu img {
    width: auto;
    height: 16px;
}

/* Main Content */
.main-content {
    padding-top: 130px;
}


/* Card */
.card-wrapper {
    margin-inline: -8px;
}

.card-wrapper.row {
    margin-bottom: 8px;
}

.card {
    position: relative;
    padding-inline: 8px;
}

.card figure {
    position: relative;
}

.card figcaption {
    padding-top: 5px;
}

.card:hover .card__img--visible {
    opacity: 0;
}

.card:hover .card__img--hidden {
    opacity: 1;
}

.card__img {
    transition: opacity 200ms ease-in-out;
}

.card__img--visible {
    opacity: 1;
}

.card__img--hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.card__brand,
.card__price {
    font-size: 14px;
}

.card__title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.card__price {
    color: red;
    font-weight: bold;
}

.extra {
    position: absolute;
    bottom: 92px;
    left: 8px;
    z-index: 999;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.extra p {
    display: inline-block;
    line-height: 26px;
    padding-inline: 10px;
}

.extra .sconto {
    background-color: red;
}

.extra .sostenibilita {
    background-color: green;
}

/* Footer */
.footer {
    padding-block: 31.5px;
    background-color: #1A1A1A;
    font-size: 14px;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer .container {
    display: flex;
}

.footer__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__menu {
    display: flex;
}

.footer .menu__item {
    margin-right: 10px;
}

.footer__social {
    margin-left: auto;
}

.social__text {
    margin-bottom: 12px;
    font-weight: bold;
}

.social__menu {
    display: flex;
}

.social__menu a {
    display: inline-block;
    width: 19px;
    height: 19px;
}